@import '../../variables.scss';

.homePage {
  background-color: $primary-color;
  color: white;
  text-align: center;
  width: 45vw;
  height: 25vw;
  margin: auto;
  margin-top: 6vw;
  box-shadow: 12px 12px $secondary-color;
  span {
    color: $secondary-color;
  }
  h1 {
    font-size: 4vw;
    margin-top: 7vw;
  }
  h2 {
    font-size: 1.3vw;
  }
}
