.mathCard {
  border: 1px solid black;
  margin: 2%;
  width: 20%;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}
