@import '../../variables.scss';

form {
  background-color: $primary-color;
  color: white;
  text-align: center;
  width: 45vw;
  height: 25vw;
  margin: auto;
  margin-top: 6vw;
  box-shadow: 12px 12px $secondary-color;
  div {
    display: flex;
    justify-content: center;
  }
  button {
    margin: 0 1vw;
    width: 7vw;
    padding: 1vw;
    border-radius: 25px;
    color: white;
    background-color: $secondary-color;
    border: none;
    font-size: 1.2vw;
    align-items: center;
  }
  span {
    color: $secondary-color;
  }
  h1 {
    margin-top: 4vw;
    font-size: 4vw;
  }
  h2 {
    font-size: 1.3vw;
  }
}

.selected {
  background-color: white;
  color: $primary-color;
}

.topic-container {
  margin: 2vw;
}
